<%- include('partials/'+versionPages.header) %>
<div class="table-wrapper">
  <% if (projects.length > 0) {%>
    <script>
      $(document).ready(function () {
        $('#Project-table').DataTable({
          "pageLength": 50
        });
        $('.dataTables_length').addClass('bs-select');
      });
    </script>
    <%
    const dateIf = (inDate, seperator, order) => {
      let day =''
      if (new Date(inDate).getDate() < 10) {
        day = '0' + new Date(inDate).getDate()
      } else {
        day = new Date(inDate).getDate()
      }
      let month =''
      if (new Date(inDate).getMonth()+1 < 10) {
        month = '0' + (new Date(inDate).getMonth()+1)
      } else {
        month = (new Date(inDate).getMonth()+1)
      }
      let year = new Date(inDate).getFullYear()
      if(order=="f"){
        return(day+seperator+month+seperator+year)
      }
      if(order=="r"){
        return(year+seperator+month+seperator+day)
      }
    }
    %>
    <style>
      label{
        color:white
      }
      .paginate_button{
        background:linear-gradient(to bottom, #fff 0%, #dcdcdc 100%)
      }
    </style>
    <table class="table table-sm table-striped table-bordered" id="Project-table" style="width:100%; overflow-y:scroll; z-index:0;">
      <thead class="thead">
        <tr>
          <th scope="col">Project name</th>
          <th scope="col">Has link?</th>
          <th scope="col">Target</th>
          <th scope="col">Completed</th>
          <th scope="col">Remaining</th>
          <th scope="col">Agents logged on</th>
        </tr>
      </thead>
      <tbody>
        <% projects.forEach((project, index) => { %>
          <tr>
            <td><% if(project.WebSurvey){%><a href="https://survey.teamsearchsurvey.co.uk/WebProd/cgi-bin/askiaext.dll?Action=StartSurvey&SurveyName=<%= project.Name %>&Test=true" target="_BLANK"><%}%><%= project.Name %></a></td>
            <td><% if(project.WebSurvey){%>Yes<%}else{%>No<%}%></td>
            <td><%= project.QuotaMinimumTargetCount %></td>
            <td><%= project.ObjectState.InterviewsCompletedCount %></td>
            <td><%= project.QuotaMinimumTargetCount - project.ObjectState.InterviewsCompletedCount %></td>
            <td><%= project.ObjectState.AgentsLoggedOnCount %></td>
          </tr>
       <% }) %>
          </tbody>
        </table>
        <% } else { %>
          <br><br>
          <p class="text-center">No projects found.</p>
          <% } %>
        </div>
      </div>
    </body>
    </html>
